.root {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 25px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .input {
    border: none;
    width: 100%;
    font-size: 18px;
  }
  .img{
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    transition: all 1s cubic-bezier(0, 1.14, 0.61, 1.2);
    
  }
  .close {
    width: 25px;
    height: 25px;
    transform: translateX(70px) rotate(180deg);
    transition: all 0.8s cubic-bezier(0, 1.14, 0.61, 1.5);
    opacity: 0;
    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 1px 1px grey);
    }
  }
}
